* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    font-family: 'DotGothic16', sans-serif;
  }
  body {
    background: rgb(78, 9, 121);
    background: linear-gradient(
        90deg
        , #5fa7ff 0%, #7feaff 100%);
  }
  
  .searchbar-container {
    justify-content: center;
    min-width: 90%;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 20px rgba(95, 95, 95, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    padding-top: 20px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
  }
  .search-form input {
    display: inline-block;
    font-size: large;
    border: 1px solid rgba(0, 0, 0, 0.067);
    margin-left: 1%;
    width: 93%;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none;
  }

  button {
    width: 5%;
    background-color: white;
    border: none;
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 10px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

h3 {
    margin: 1%;
}

